:root {
    --primary-color: #007c5d;
    --white-color: #dcd4df;
    --input-color: #2c2a30;
    --bg-color: #1b1a1d;
    --element-color: #111113;

    --very-accurate: #003f2f;
    --bit-accurate: #334d12;
    --meh-accurate: #523107;
    --not-accurate: #521212;

    --main-width: 650px;
}


body, html {
    background-color: var(--bg-color);
    color: var(--white-color);
}
body, html * {
    border-radius: 3px;
    color: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    margin: 0px;
}

textarea {
    max-width: min(95%, var(--main-width));
    min-width: min(95%, var(--main-width));
    width: var(--main-width);
    background-color: var(--input-color);
    border: none;
    font-size: large;
}
textarea:focus {
    outline: var(--primary-color) 3px solid;
}

button {
    border: none;
    font-size: large;
    background-color: var(--primary-color);
    font-weight: bold;
    padding: 7px;
}
button:active {
    background-color: var(--white-color);
}


.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}


#prompt_cont {
    margin-bottom: 30px; 
    width: var(--main-width);
    max-width: 95%;
}
.prompt {
    font-size: large;
    background-color: var(--element-color);
    padding: 5px;
}


#output_cont {
    width: var(--main-width);
    max-width: 95%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto;
    gap: 15px 0px;
}

.output_item {
    background-color: var(--element-color);
    padding: 5px;
    width: fit-content;
}
.output_item p:not(.solution) {
    opacity: .6;
}
.output_item p.solution {
    font-size: large;
}

.output_item.very_accurate {
    background-color: var(--very-accurate);
}
.output_item.bit_accurate {
    background-color: var(--bit-accurate);
}
.output_item.meh_accurate {
    background-color: var(--meh-accurate);
}
.output_item.not_accurate {
    background-color: var(--not-accurate);
}
